body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
  }

a {
    font-decoration: none;
    color:black; 
}

em {
    color: #A5B4FC; 
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color:#A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.1em;
}